.home{
    
    background:url(https://images.unsplash.com/photo-1562575214-da9fcf59b907?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGVjaG5vbG9neSUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60) no-repeat center center/cover;
    overflow: hidden;
    
}
.part{
    margin-top: 40px;
    color: white;
    font-size: 70px;
    margin-left: 70px;
}
h1{
    text-align: center;
    color: aqua;
    font-size: 35px;
}
.part li{
    list-style: none;
}
.btn a{
    list-style: none;
}

.btn{
   font-size: 30px;
   background-image: linear-gradient(to right, pink , lightgreen);
   border-radius: 12px;
   border: none;
}
.btn:hover{
  background-color: beige;
}
